.dropdownFeatures {
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1491);
    border-radius: .55rem;
    font-size: $fs-nav;
    color: $primary-grey;
    width: 0rem;
    height: 0rem;
    visibility: hidden;



    & ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        line-height: .88rem;
    }
    
    &__icon {
        display: inline-block;
        margin-right: .83rem;
    }

    &__feature {
        display: flex;
        align-items: center;
        margin-bottom: .88rem;
        
        &:last-child {
            margin-bottom: 0rem;
        }
    
    }

    
    &__link {
        text-decoration: none;
        color: $primary-grey;

        &:hover {
            cursor: pointer;
            color: $primary-black;
        }
    }

}


.dropdownCompany {
    height: 0rem;
    width: 0rem;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1491);
    border-radius: .55rem;
    font-size: $fs-nav;
    color: $primary-grey;
    visibility: hidden;

    & ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        line-height: .88rem;
    }

    &__item {
        margin-bottom: .88rem;

        :last-child {
            margin-bottom: 0;
        }

    }

    &__link {
        text-decoration: none;
        color: $primary-grey;

        &:hover {
            cursor: pointer;
            color: $primary-black;
        }
    }
}

.toggleDropdownFeat {
    visibility: visible;
    position: absolute;
    top: 2.88rem;
    left: 5.27rem;
    height: 8.9rem;
    width: 8.5rem;
    padding: 1.33rem;
    animation: dropdownFeat .18s;
}

.toggleDropdownCompany {
    visibility: visible;
    position: absolute;
    top: 2.88rem;
    left: 15rem;
    height: 7.11rem;
    width: 6.44rem;
    padding: 1.33rem;
    animation: dropdownCompany .18s;
}

@media only screen and (max-width: 1350px) {
    .dropdownFeatures {
        left: 12rem;
    }

    .dropdownCompany {
        left: 22rem;
    }
}

@media only screen and (max-width: 1148px) {
    .dropdownFeatures {
        left: 12rem;
    }

    .dropdownCompany {
        left: 22rem;
    }
}

@media only screen and (max-width: 950px) {
    .dropdownFeatures {
        left: 12rem;
    }

    .dropdownCompany {
        left: 20rem;
    }
}



